<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ezquest.engine"
    android:versionCode="1"
    android:versionName="0.1">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="29"/>
    <uses-feature android:glEsVersion="0x00030000" android:required="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:label="Source Quest"
        android:hasCode="true"
        android:requestLegacyExternalStorage="true"
        android:extractNativeLibs="true">
        <activity
            android:name="com.valvesoftware.ValveActivity2"
            android:label="Source Quest"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|navigation|uiMode|density"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
